/**************************************
STATIC LAYOUT CSS
**************************************/

.wrapper {
    width: 980px;
    margin: 0 auto;
}

h1 {
    color: rgba(132, 132, 132);
    width: 10px;
}


/**************************************
  CSS TO MAKE THE EXAMPLE LOOK PRETTY
  **************************************/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #FFF;
    font-family: Helvetica;
    text-align: center;
}

section {
    background-color: white;
    color: black;
    height: 1000px;
}

.shoptitle {
    color: Black;
    text-align: center;
    padding: 20px 50px;
}


/* Float four columns side by side */

.column {
    float: left;
    margin: 90px;
    width: 100px;
}


/* Remove extra left and right margins, due to padding in columns */


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the counter cards */

.card {
    background-color: white;
    border: 2px solid #3ACFD5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 250px;
    border-radius: 15px;
}


/* Responsive columns - one column layout (vertical) on small screens */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin: 0px 50px 0px 50px;
    }
}

section img {
    border-radius: 5%;
    height: 100px;
    right: 500px;
}