@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.card {
    background-color: #ffffff;
    margin-right: auto;
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.card p {
    color: black;
}