body {
    background: linear-gradient(90.34deg, #A12CBE 0%, #00EDED 100%);
}

.card {
    background-color: #ffffff;
    margin: auto;
    margin-top: 25vh;
    margin-bottom: 25vh;
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    height: 40px;
    width: 20vw;
    border: 0.5px solid transparent;
    border-radius: 30px;
    background-image: linear-gradient(white, white), linear-gradient(90.34deg, #A12CBE 0%, #00EDED 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

button {
    width: 12vw;
    border: 0.1px solid transparent;
    border-radius: 30px;
    background-image: linear-gradient(white, white), linear-gradient(90.34deg, #A12CBE 0%, #00EDED 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.card p {
    color: black;
}