@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
* {
    box-sizing: border-box;
}

img {
    border-radius: 50%;
    width: 500px;
    float: left;
    padding: 150px 150px 150px 100px;
}

#text11 {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 100px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    border-color: linear-gradient(109.49deg, #A12CBE 0%, #00EDED 100%);
}

button {
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    outline: none;
    background: linear-gradient(109.49deg, #A12CBE 0%, #00EDED 100%);
    width: 50px;
    cursor: pointer;
}

th,
td {
    border-style: solid;
    border-width: 10px;
    outline-style: double;
    outline-color: transparent;
    outline-width: 50px;
    background: linear-gradient(109.49deg, #A12CBE 0%, #00EDED 100%);
    border-color: white;
}

a:link {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(109.49deg, #A12CBE 0%, #00EDED 100%);
    border-radius: 40%;
    border-style: solid;
    text-decoration: none;
    color: white;
    width: 200px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
}

.sizes {
    color: white;
}

a:hover {
    opacity: 0.7;
}

#size {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 200px;
}

#shoename {
    padding-top: 125px;
}

#description {
    width: 250px;
}